@model BugFixer.Domain.ViewModels.UserPanel.Account.EditUserViewModel
@using BugFixer.Domain.Entities.Common;
@{
    ViewData["Title"] = "ویرایش اطلاعات کاربری";
    Layout = "~/Areas/UserPanel/Views/Shared/_UserPanelLayout.cshtml";
    var state = ViewData["State"] as List<SelectListViewModel>;
    var Cities = ViewData["Cities"] as List<SelectListViewModel>;
}
@section Header
{
    <partial name="_Header" />
}
@section Breadrcumb
{
    <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="javascript:void(0)" itemprop="item"><span itemprop="name"> @ViewData["Title"] </span></a></li>
}
@section Scripts
{
    <partial name="_JqueryValidation" />

}
<div class="account-content-layer layer-style">
    <h3>@ViewData["Title"] </h3>
    <div class="inner">
        <form class="form-layer-style" method="post" asp-action="EditInfo" asp-controller="Account" asp-area="UserPanel">
            <div class="row">

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label asp-for="FirstName"></label>
                        <input type="text" asp-for="FirstName">
                        <span asp-validation-for="FirstName"></span>
                    </div>
                    <!--/ input -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label asp-for="LastName"></label>
                        <input type="text" asp-for="LastName">
                        <span asp-validation-for="LastName"></span>
                    </div>
                    <!--/ input -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label asp-for="PhoneNumber"></label>
                        <input type="text" asp-for="PhoneNumber">
                        <span asp-validation-for="PhoneNumber"></span>
                    </div>
                    <!--/ input -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label asp-for="BirthDate"></label>
                        <input class="datepicker input-style" type="text" asp-for="BirthDate">
                        <span asp-validation-for="BirthDate"></span>
                    </div>
                    <!--/ input -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- select -->
                    <div class="select-layer">
                        <label asp-for="CountryId"></label>
                        <select asp-for="CountryId" data-url="@Url.Action("LoadCities","Account",new {area="UserPanel" })">
                            <option value="">لطفا کشور را انتخاب بفرمایید</option>
                            @if (state.Any() || state != null)
                            {
                                foreach (var item in state)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            }
                        </select>
                    </div>
                    <!-- /select -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- select -->
                    <div class="select-layer">
                        <label asp-for="CityId"></label>
                        <select asp-for="CityId">
                            <option value="">لطفا شهر را انتخاب بفرمایید</option>
                            @if (Cities != null)
                            {
                                foreach (var item in Cities)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            }
                        </select>
                    </div>
                    <!-- /select -->
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- textarea -->
                    <div class="textarea-layer">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description"> </textarea>
                    </div>
                    <!-- /textarea -->
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="radio-selected">
                        <span> اطلاع از خبر نامه </span>
                        <div class="select">
                            <input type="checkbox" asp-for="GetNewsLetter" />
                            <label for="GetNewsLetter"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 pull-left">
                    <button type="submit" class="submit-button green"> <span>ویرایش اطلاعات</span> </button>
                </div>
            </div>
        </form>
    </div>
</div>
