@model BugFixer.Domain.Entities.Questions.Question
@using BugFixer.Application.Extentions;

@{
    ViewData["Title"] = "پرسش پرسش جدید";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tags = ViewData["TagList"] as List<string>;
}

@section Styles
{
    <link href="/css/question.css" rel="stylesheet" />
    <link href="/css/page.css" rel="stylesheet" />
}
@section Header
{
    <partial name="_Header" />
}

<div class="user-page-style">

    <div class="breadcumb-layer">
        <div class="container">
            <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> صفحه اصلی  </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/Question-List" itemprop="item"><span itemprop="name"> پرسش ها </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="javascript:void(0)" itemprop="item"><span itemprop="name"> @Model.Title </span></a></li>
            </ul>
        </div>
    </div>

    <div class="questions-layer page-style">

        <div class="container">

            <div class="right-col">
                <!-- question content -->
                <section class="question-content-layer">

                    <header>

                        <!-- use this button for edit Post , show only for author -->
                        <button onclick="LouadUrl('@Url.Action("EditQuestion", "Question", new { id=Model.Id})')"><i class="icon-pencil-edit"></i></button>

                        <h1><a href="javascript:void(0)"> @Model.Title</a></h1>
                        <span> @Model.CreateDate.AsTimeAgo() </span>
                        <span><i> @Model.ViewCount </i> بازدید </span>
                        <span>
                            <i>
                                @if (Model.Answers == null)
                                {<span>0</span>}
                                else
                                {<span> @Model.Answers.Count(s => !s.IsDelete)</span>}
                            </i>پاسخ
                        </span>
                        <span><i>  @Model.Score </i> امتیاز </span>

                    </header>
                    @Html.AntiForgeryToken()

                    <article id="QuestionDetailsMainBox">
                        <div class="inner">
                            @Html.Raw(Model.Content)
                            <div class="rating-layer">
                                <div class="scoring-layer">
                                    <button class="plus" onclick="ScoeUpForQuestion(@Model.Id)"><i class="icon-caret-up"></i></button>
                                    <span> @Model.Score </span>
                                    <button onclick="ScoeDownForQuestion(@Model.Id)" class="negative"><i class="icon-caret-down"></i></button>
                                </div>
                                <div class="star-rating">
                                    <!-- if user rate this post , use " active " class for Button and disabled this -->
                                    <!-- <button class="active"><i class="icon-star"></i></button> -->
                                    @if (ViewBag.IsBookmarks)
                                    {
                                        <button onclick="AddQuestionToBookmark(@Model.Id)"><i class="icon-star gold-color"></i></button>
                                    }
                                    else
                                    {
                                        <button onclick="AddQuestionToBookmark(@Model.Id)"><i class="icon-star"></i></button>
                                    }

                                </div>
                            </div>

                        </div>

                        <div class="detail-layer">
                            <div class="author">
                                <a href="" class="img-layer">
                                    <img src="@(BugFixer.Application.Statics.PathTools.USerAvatarPath+@Model.User.Avatar)">
                                </a>
                                <h3><a href="javascript:void(0)">@Model.User.GetUserDisplayname() </a></h3>

                            </div>
                            <a href="javascript:void(0)"> <i class="icon-back-arrow"></i> ثبت پاسخ به این پرسش </a>
                            <div class="share-layer">
                                <span> به اشتراک گذاری </span>
                                <div class="share-detail">
                                    <div class="short-link">
                                        <p> لینک کوتاه شامل شناسه شما </p>
                                        <input type="text" name="" readonly="" value="@($"{BugFixer.Application.Statics.PathTools.SiteAddress}/q/{Model.Id}")">
                                    </div>
                                    @*<div class="socials">
                                            <a href=""><i class="icon-facebook"></i></a>
                                            <a href=""><i class="icon-twitter"></i></a>
                                            <a href=""><i class="icon-linkedin"></i></a>
                                            <a href=""><i class="icon-telegram"></i></a>
                                            <a href=""><i class="icon-google-plus"></i></a>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- tags -->
                    <div class="post-tags-layer">
                        <div class="tags-layer">
                            @foreach (var tag in tags)
                            {
                                <a asp-action="QuestionListByTag" asp-controller="Question" asp-route-tagname="@tag"> @tag </a>
                            }
                        </div>
                    </div>
                    <div class="answers-layer" id="AnswersBox">
                        <div class="top-layer">
                            <h4> پاسخ به این پرسش :<span> @Model.Answers.Count(s => !s.IsDelete) </span></h4>

                        </div>
                        @await Component.InvokeAsync("QuestionAnswerList", new { questionID = Model.Id })

                    </div>
                    <!-- /tags -->
                    <!-- submit comment -->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <partial name="_AnswerForPartial" model=" new BugFixer.Domain.ViewModels.Question.AnswerQuestionViewModel {QuestionID=Model.Id}" />
                    }
                    else
                    {
                        <div class="alert alert-info">
                            برای وارد کردن نظر لطفا لاگین بفرمایید
                            <a href="/Login">ورود به حساب کاربری </a>
                        </div>
                    }
                    <!-- /submit comment -->
                </section>


            </div>

            <!-- aside -->
            <partial name="_LeftSide_QuestionList" />


            <!-- /aside -->
            <div class="clearfix"></div>

        </div>

    </div>

</div>

@section Scripts
{

    <partial name="_JqueryValidation" />
    <script src="/js/question.js"></script>

}
