@model BugFixer.Domain.Entities.Questions.Question
@using BugFixer.Application.Extentions;
@{
    ViewData["Title"] = "پرسش پرسش جدید";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tags = ViewData["TagList"] as List<string>;
}

@section Styles
{
    <link href="/css/question.css" rel="stylesheet" />
    <link href="/css/page.css" rel="stylesheet" />
}
@section Header
{
    <partial name="_Header" />
}

<div class="user-page-style">

    <div class="breadcumb-layer">
        <div class="container">
            <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> صفحه اصلی  </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> پرسش ها </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope itemprop="itemListElement"><a href="javascript:void(0)" itemprop="item"><span itemprop="name"> @Model.Title </span></a></li>
            </ul>
        </div>
    </div>

    <div class="questions-layer page-style">

        <div class="container">

            <div class="right-col">
                <!-- question content -->
                <section class="question-content-layer">

                    <header>

                        <!-- use this button for edit Post , show only for author -->
                        <button><i class="icon-pencil-edit"></i></button>

                        <h1><a href="javascript:void(0)"> @Model.Title</a></h1>
                        <span> @Model.CreateDate.AsTimeAgo() </span>
                        <span><i> @Model.ViewCount </i> بازدید </span>
                        <span>
                            <i>
                                @if (Model.Answers == null)
                                {<span>0</span>}
                                else
                                {<span> @Model.Answers.Count(s => !s.IsDelete)</span>}
                            </i>پاسخ
                        </span>
                        <span><i>  @Model.Score </i> امتیاز </span>

                    </header>

                    <article>
                        <div class="inner">
                            @Html.Raw(Model.Content)
                            <div class="rating-layer">
                                <form class="scoring-layer" action="" method="">
                                    <button class="plus"><i class="icon-caret-up"></i></button>
                                    <span> @Model.Score </span>
                                    <button class="negative"><i class="icon-caret-down"></i></button>
                                </form>
                                <form class="star-rating" action="" method="">
                                    <!-- if user rate this post , use " active " class for Button and disabled this -->
                                    <!-- <button class="active"><i class="icon-star"></i></button> -->
                                    <button><i class="icon-star"></i></button>

                                </form>
                            </div>

                        </div>

                        <div class="detail-layer">
                            <div class="author">
                                <a href="" class="img-layer">
                                    <img src="@(BugFixer.Application.Statics.PathTools.USerAvatarPath+@Model.User.Avatar)">
                                </a>
                                <h3><a href="">@Model.User.GetUserDisplayname() </a></h3>

                            </div>
                            <a href="javascript:void(0)"> <i class="icon-back-arrow"></i> ثبت پاسخ به این پرسش </a>
                            <div class="share-layer">
                                <span> به اشتراک گذاری </span>
                                <div class="share-detail">
                                    <div class="short-link">
                                        <p> لینک کوتاه شامل شناسه شما </p>
                                        <input type="text" name="" readonly="" value="http://gl.co/ShKiLO">
                                    </div>
                                    <div class="socials">
                                        <a href=""><i class="icon-facebook"></i></a>
                                        <a href=""><i class="icon-twitter"></i></a>
                                        <a href=""><i class="icon-linkedin"></i></a>
                                        <a href=""><i class="icon-telegram"></i></a>
                                        <a href=""><i class="icon-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- tags -->
                    <div class="post-tags-layer">
                        <div class="tags-layer">
                            @foreach (var tag in tags)
                            {
                                <a asp-action="QuestionListByTag" asp-controller="Question" asp-route-tagname="@tag" > @tag </a>
                            }
                        </div>
                    </div>
                    <!-- /tags -->

                </section>


            </div>

            <!-- aside -->
            <aside>

                <a href="" class="ask-question"> ثبت پرسش جدید </a>

                <section class="related-post-layer">
                    <header><h2> پرسش های مرتبط </h2></header>
                    <div class="inner">
                        <ul>
                            <li class="answered"><span> 2.2K <i class="icon-comment-1"></i> </span><a href=""> نحوه ی پیاده سازی فروشگاه اینترنتی با فریم ورک لاراول </a></li>
                            <li class="selected"><span> 23 <i class="icon-comment-1"></i> </span><a href=""> نحوه ی پیاده سازی فروشگاه اینترنتی با فریم ورک لاراول </a></li>
                            <li class="answered"><span> 56 <i class="icon-comment-1"></i> </span><a href=""> نحوه ی پیاده سازی فروشگاه اینترنتی با فریم ورک لاراول </a></li>
                            <li class="answered"><span> 56 <i class="icon-comment-1"></i> </span><a href=""> نحوه ی پیاده سازی فروشگاه اینترنتی با فریم ورک لاراول </a></li>
                            <li class="answered"><span> 56 <i class="icon-comment-1"></i> </span><a href=""> نحوه ی پیاده سازی فروشگاه اینترنتی با فریم ورک لاراول </a></li>
                            <li class="answered"><span> 56 <i class="icon-comment-1"></i> </span><a href=""> نحوه ی پیاده سازی فروشگاه اینترنتی با فریم ورک لاراول </a></li>
                            <li class="answered"><span> 56 <i class="icon-comment-1"></i> </span><a href=""> نحوه ی پیاده سازی فروشگاه اینترنتی با فریم ورک لاراول </a></li>
                            <li class="answered"><span> 56 <i class="icon-comment-1"></i> </span><a href=""> نحوه ی پیاده سازی فروشگاه اینترنتی با فریم ورک لاراول </a></li>
                        </ul>
                    </div>
                </section>

                <!-- most popular post -->
                <section class="most-popular-questions">

                    <article>
                        <header><h2> پر امتیازترین پرسش های یک ماه اخیر </h2></header>
                        <ul>
                            <li>
                                <span> 10K <i class="icon-star"></i></span>
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                            <li>
                                <span> 3K <i class="icon-star"></i></span>
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                            <li>
                                <span> 6K <i class="icon-star"></i></span>
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                        </ul>
                    </article>

                    <article>
                        <header><h2> پر بحث ترین پرسش های یک ماه اخیر </h2></header>
                        <ul>
                            <li>
                                <span> 8.5K <i class="icon-comment"></i></span>
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                            <li>
                                <span> 7K <i class="icon-comment"></i></span>
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                            <li>
                                <span> 11K <i class="icon-comment"></i></span>
                                <h2><a href=""> معرفی بهترین و ساده ترین فریم ورک php برای پیاده سازی فروشگاه اینترنتی </a></h2>
                            </li>
                        </ul>
                    </article>

                </section>
                <!-- /most popular post -->
                <!-- most controversial tags -->
                <section class="most-controversial-tags">
                    <header><h2> پر بحث ترین تگ ها </h2></header>
                    <div class="tags-layer">
                        <a href=""> Jquery </a>
                        <a href=""> php </a>
                        <a href=""> Javascript </a>
                        <a href=""> asp </a>
                        <a href=""> mvc </a>
                        <a href=""> C# </a>
                        <a href=""> woocommerce </a>
                        <a href=""> Framework </a>
                        <a href=""> Jquery </a>
                        <a href=""> php </a>
                        <a href=""> Framework </a>
                        <a href=""> Jquery </a>
                        <a href=""> php </a>
                        <a href=""> Javascript </a>
                        <a href=""> asp </a>
                        <a href=""> mvc </a>
                        <a href=""> C# </a>
                        <a href=""> woocommerce </a>
                        <a href=""> Framework </a>
                        <a href=""> Jquery </a>
                        <a href=""> Javascript </a>
                    </div>
                </section>
                <!-- /most controversial posts -->
                <!-- banner -->
                <div class="banner-layer">
                    <a href=""><img src="images/banner.jpg"></a>
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="banner-layer">
                    <a href=""><img src="images/banner-2.jpg"></a>
                </div>
                <!-- /banner -->

            </aside>
            <!-- /aside -->
            <div class="clearfix"></div>

        </div>

    </div>

</div>



@section Scripts
{
    <partial name="_JqueryValidation" />
    <partial name="_CKEditorPatial" />
    <script src="/js/question.js"></script>

}
